.api-key-page-input-wrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.api-key-page-input-wrapper{
    background: var(--hex-secondary);
    color: var(--hex-primary);
    gap: 10px;
    padding: 20px;
    border-radius: var(--border-radius);
}
.api-key-page-input-wrapper > * { 
    margin: 0;
}

.api-key-page-input-wrapper > input,
.api-key-page-input-wrapper > button {
    border-radius: var(--border-radius);
    border: none;
    padding: 5px;
}
.api-key-page-input-wrapper > button {
    color: var(--hex-secondary);
    background-color: var(--hex-primary);
}