.sidebar-wrapper-placeholder,
.sidebar-wrapper{
    height: 100vh;
    width: 50px;
}
.sidebar-wrapper{
    background-color: var(--hex-primary);
    border-right: 1px solid var(--hex-secondary);
    position: fixed;
    left: 0;
}
.sidebar-link-button{
    padding: 10px;
    width: 30px;
    aspect-ratio: 1;
}
